# Build artifacts
*.o
version.inc
src/arch/arm64/basicforth
src/arch/x86/basicforth
src/arch/arm64/test_basicforth
src/arch/x86/test_basicforth

# Copied core.fs in build directories
src/arch/arm64/core.fs
src/arch/x86/core.fs

# Redirect/output artifacts from running the example scripts
examples/*.txt

# Local deploy scripts (see deploy_template.sh)
deploy.sh

# Pumpkin related
pumpkin-scripts/
